@use "../variables" as *;

.body-stub {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  z-index: 10000;

  background-color: #000;

  &_white {
    background-color: $white;
  }

  &_loader {
    background-color: transparent;

    &::before,
    &::after {
      content: "";
      position: fixed;
      left: 0;

      display: block;
      width: 200%;
      height: 80%;

      background-color: $white;
    }

    &::before {
      top: 0;
      animation: stub-a-slideout 2.8s ease-in-out 0.2s forwards;
    }

    &::after {
      bottom: 0;
      animation: stub-b-slideout 3s ease-in-out 0.2s forwards;
    }
  }
}

@keyframes stub-a-slideout {
  from {
    transform: rotate(-195deg) translate(25%, 75%);
  }

  to {
    transform: rotate(-195deg) translate(150%, 400%);
  }
}

@keyframes stub-b-slideout {
  from {
    transform: rotate(165deg) translate(25%, 0%);
  }

  to {
    transform: rotate(165deg) translate(-100%, -450%);
  }
}

