@use "../variables" as *;
@use "../media" as *;

.cart-item {
  display: grid;
  grid-template-areas:
    "image title title"
    "image count price";
  grid-template-columns: 54px 1fr max-content;
  padding: 12px 0;
  gap: 8px 12px;

  border-bottom: 1px solid rgba(46, 53, 20, 0.04);

  &:first-child {
    padding-top: 0;
  }

  &:last-child {
    padding-bottom: 0;
    border-bottom: none;
  }

  &__title {
    grid-area: title;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4;
  }

  &__image-container {
    grid-area: image;
    align-self: center;
    justify-self: flex-start;
    width: 54px;
    height: 54px;

    border-radius: 8px;
  }

  &__quantity {
    grid-area: count;

    &-container {
      display: flex;
      align-items: center;
      gap: 8px;
    }

    &-container {
      grid-column: 2 / 3;
      grid-row: 2 / 3;
    }

    &-amount {
      font-size: 16px;
    }
  }

  &__price {
    grid-area: price;

    font-size: 16px;
  }
}
