@use "../variables" as *;

.radio {
  position: relative;
  display: block;
  padding-right: 16px;
  cursor: pointer;

  &__input {
    position: absolute;
    top: 50%;
    right: 0;
    width: 12px;
    height: 12px;
    transform: translateY(-50%);
    appearance: none;

    &::before {
      content: "";
      position: absolute;
      display: block;
      inset: 0;
      background-color: transparent;

      border: 1px solid $green;
      border-radius: 50%;
      outline: 2px solid transparent;
      cursor: pointer;

      transition-property: background-color, transform;
      transition-duration: 0.2s, 0.05s;
      transition-timing-function: ease-in-out;
    }

    &:hover::before {
      border-color: #004e1e;
    }

    &:focus-visible {
      outline: none;

      &::before {
        outline-color: $carrot;
      }
    }

    &:active::before {
      background-color: $green;
      border-color: $green;
      transform: scale(0.9);
    }

    &:checked::before {
      background-color: $green;
    }
  }
}
