@use "../variables" as *;
@use "../media" as *;

.store {
  padding: 120px 0;

  &__container {
    display: flex;
    flex-direction: column;
  }

  &__title {
    margin-bottom: 32px;

    font-size: 52px;
    font-weight: 700;
    line-height: 1.3;
    color: $green;
  }

  &__nav {
    order: -1;
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;

    @include mobile {
      flex-wrap: wrap;
      justify-content: end;
      gap: 30px;
    }
  }

  &__categories {
    display: flex;
    gap: 28px;
    overflow: visible;

    @include mobile {
      justify-content: space-between;
      flex-grow: 1;
      gap: 16px;
      font-size: calc(12px + 1.3vw);
    }
  }

  &__categories-item {
    color: $carrot;

    &:hover {
      color: $green;
    }

    &_current {
      position: relative;
      color: $green;

      & > .store__categories-button::after {
        background-color: $green;
        cursor: pointer;

        transform: scaleX(1);
        transition-property: transform;
        transition-duration: 0.25s;
        transition-timing-function: ease-in-out;
      }
    }
  }

  &__categories-button::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -8px;

    display: block;
    width: 100%;
    height: 1px;
    background-color: $light;

    transform: scaleX(0);
  }

  &__cart-button {
    position: relative;

    display: block;
    width: 28px;
    height: 28px;

    @include bigscreen {
      width: 32px;
      height: 32px;
      vertical-align: middle;
    }

    @include mobile {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      padding: 20px 24px;
      border: 1px solid transparent;

      text-align: center;
      font-weight: 700;
      line-height: 1.4;

      background-color: $carrot;
      border-radius: 40px;
      outline: 1px solid transparent;
      transition-property: background-color, transform;
      transition-duration: 0.3s, 0.1s;
      transition-timing-function: ease-in-out;
      cursor: pointer;

      &:hover {
        background-color: #c35d24;
      }

      &:focus-visible {
        outline-color: $carrot;
      }

      &:active {
        transform: scale(0.9);
      }

      &:disabled {
        opacity: 0.4;
        pointer-events: none;
      }
    }
  }

  &__cart-count {
    position: relative;
    top: 2px;
    z-index: 2;

    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    color: $light;
    vertical-align: middle;

    @include mobile {
      top: 4px;
      color: $carrot;
    }
  }

  &__cart-icon {
    position: absolute;
    width: 100%;
    height: 100%;
    inset: 0;
    z-index: 1;

    @include mobile {
      display: block;
      margin: auto;
      width: 32px;
      height: 32px;
      fill: $light;
    }
  }

  &__catalog {
    display: grid;
    grid-template-columns: repeat(auto-fill, 420px);
    justify-content: center;
    gap: 20px;

    @include bigscreen {
      justify-content: space-between;
    }

    @include mobile {
      grid-template-columns: 1fr;
    }
  }

  &__catalog-item {
    display: flex;
    justify-self: center;
  }
}
